@font-face {
    font-family: 'KyoboHandwriting2021sjy';
    src: url('./KyoboHandwriting2021sjy.otf') format('opentype'),  url('./KyoboHandwriting2021sjy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
